.card-outer
{
    width: 18rem;
    border-radius:30px;
    border: 1px solid #000;
    border-style: outset;
    margin : 10px 10px 10px 10px;
    border-radius:30px;
    max-height: 400px;
    min-height: 400px;
    max-width: 285px;
    min-width: 285px;
    background-color:#1C2331;
    color:white;
    box-shadow: 2px 2px 10px black;
}
.card-outer:hover{
    box-shadow: 20px 20px 80px black;
}

.card-img
{
        border: 1px solid #000;
        border-radius:30px;
        max-height: 200px;
        min-height: 200px;
        max-width: 283px;
        min-width: 283px;
}   
.card-btn
{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color:white;
}
.card-btn:hover
{
    background-color: rgb(32, 32, 32);
    color:blanchedalmond;
}

.text-flow 
{
    color:grey;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
    text-decoration: none;
}
.head-flow 
{
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
